{{ 'component-grid-galery.css' | asset_url | stylesheet_tag }}

<h2 class="title-grid-galery">{{ section.settings.title }}</h2>
<div class="parent">
    {% for block in section.blocks %}
    <div class="div{{ forloop.index }}" >
      <a  href="{{ section.settings.insta_link}}" target="_blank">
        <img class="image-overlay" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
      <div class="overlay">
        <p class="paragraph-overlay">{{ block.settings.text }}</p>
        <p class="date-overlay">{{ block.settings.date }}</p>
        <div class="likes-overlay-wrapper">
          <span>❤</span>
          <span>{{ block.settings.number }}</span>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
  </div>
  <div id="grid-galery">

  </div>
  <!-- "https://graph.facebook.com/v11.0/instagram_oembed?url=https://www.instagram.com/makria_ilyes/&access_token=IGQVJXQlVrS0RWWWxjNkR6Wmd3dG9mc1pjUTVGOGRKU0I3N291VHcxU2d4NlVDQWFrTVlROGo0bXd6U083OWFjRUFXSkxEQ1hpMWJTWkpUaXJRNXU2a2drZAEQ1WVkxVmZAIVjA1OUYwRDF5T1dLQVltRQZDZD"


  https://api.instagram.com/oauth/authorize?client_id=884792019118807&redirect_uri=https://baton-sucre.myshopify.com/&scope=user_profile,user_media&response_type=code

  curl -X POST \ https://api.instagram.com/oauth/access_token \ -F client_id=884792019118807 \ -F client_secret=b29421a8008d6e2e7dfe831ce6f46939 \ -F grant_type=authorization_code \ -F redirect_uri=https://baton-sucre.myshopify.com/ \ -F code=AQBSA-m-D0K8GknEexno5a27gaS4O9cr6FQxbuLwPoiR1xFZn0UI7yMsoQ2OG6JXgkoX8HI5OxBrlJV_vkX8efS_Vum_4GGIJGYkTaf8ng7-knPaKI7Xu8Xtedz60s8CqEiAyz3pTibGVry5hXyhrTclxIuROQHIQQ6pT_ghGir0d_9wlxnXC8YXEMUHc8OKaWIyZYTjKlHddK5K7XceBvDLnWv4snn9tWPo1v6oykI52w


  https://graph.instagram.com/17841412459589586?fields=id,username&access_token=IGQVJWS0puNzhJR0pybjZA6QjlXaG5RZAXpVaXNDMkxCMlBGbWVfZAXZAJMXZAqMjN1amE5ZA0JEcFJPZAW5tNlFTNHVlb0lqd2N1QzBOd2RFMVVjNlZAXTnhyV2R2Y2JLU3NlUW41OUVMc2RQcnRIQ3pmcWlWak9LMHdKei11b2Fn'

  https://graph.instagram.com/me?fields=id,username&access_token=IGQVJWS0puNzhJR0pybjZA6QjlXaG5RZAXpVaXNDMkxCMlBGbWVfZAXZAJMXZAqMjN1amE5ZA0JEcFJPZAW5tNlFTNHVlb0lqd2N1QzBOd2RFMVVjNlZAXTnhyV2R2Y2JLU3NlUW41OUVMc2RQcnRIQ3pmcWlWak9LMHdKei11b2Fn

https://graph.instagram.com/me/media?fields=id,caption,media_url&access_token=IGQVJWS0puNzhJR0pybjZA6QjlXaG5RZAXpVaXNDMkxCMlBGbWVfZAXZAJMXZAqMjN1amE5ZA0JEcFJPZAW5tNlFTNHVlb0lqd2N1QzBOd2RFMVVjNlZAXTnhyV2R2Y2JLU3NlUW41OUVMc2RQcnRIQ3pmcWlWak9LMHdKei11b2Fn


 https://graph.instagram.com/me/media?access_token={YOUR_ACCESS_TOKEN}&fields=media_url,media_type,caption,permalink

  {
    "user_id": 17841412459589586,
    "id": "4557331780946772",
    "username": "makria_ilyes"
  } -->

{% schema %}

{
    "name": "grid galery",
    "tag": "section",
    "settings": [
    {
      "type": "url",
      "id": "insta_link",
      "label": "Insta link"
    }
    ],
    "blocks": [
        {
          "type": "image-grid",
          "name": "Image",
          "limit": 5,
          "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image colum left"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text for image 5"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date for image 5"
        },
        {
          "type": "text",
          "id": "number",
          "label": "Number for image 5"
        }   
          ]
        }
    ],
    "presets": [ 
        {
            "name": "grid galery",
            "category": "Image"
        }
    ]
}
{% endschema %}

<script>

if(document.querySelector("#grid-galery")) {
  const gridGalery = Vue.createApp({
    delimiters: ["${","}"],
    data() {
      return {
        allpictures: [],
        };
      },
    created() {
      axios.get("https://api.instagram.com/oauth/authorize?client_id=884792019118807&redirect_uri=https://baton-sucre.myshopify.com/&scope=user_profile,user_media&response_type=code").then((results) => {
        console.log(results)
      });
  }
  }).mount("#grid-galery");
}


</script>