{{ 'component-video.css' | asset_url | stylesheet_tag }}


<section class="Section" id="section-1572295915300" data-section-id="1572295915300">
    <div class="BackgroundVideo__Wrapper">
        <video id="heroVideoDesktop-1572295915300" autoplay="" muted="" loop="" playsinline="" class="BackgroundVideo__Container" poster="//cdn.shopify.com/s/files/1/0081/8436/5136/files/waterdrop-VIBE-Header-thumbnail_x720.jpg?v=1627373762">
          <source src="https://cdn.shopify.com/s/files/1/0043/8203/1961/files/waterdrop-vibe-header-video.mp4?v=1627310989">
        </video>
        <div class="BackgroundVideo__TextLayer">
          <div class="BackgroundVideo__SubHeading SubHeading--big gta-medium-20-16">
            {{ section.settings.hook_phrase }}
          </div>
          <div class="BackgroundVideo__Heading Heading--big gta-extended-medium-60-32">
            {{ section.settings.title }}
          </div>
          <a href="{{ section.settings.button_link }}" class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">
            {{ section.settings.button_text }}
          </a>
        </div>
    </div>
  </section>

  {% schema %}     
{ 
    "name": " Video section",
    "tag": "section", 
    "settings": [ 
        { 
            "type": "text",
            "id":"title", 
            "label": "t:sections.main-product.blocks.add_to_cart.settings.heading.name", 
            "default": "MY TITLE" 
        },
        { 
          "type": "text", 
          "id":"button_text", 
          "label": "t:sections.multicolumn.settings.button_label.label" ,
          "default": "Discover my collection" 
        },
        { 
          "type": "url", 
          "id":"button_link", 
          "label": "t:sections.multicolumn.settings.button_link.label" 
        },
        { 
          "type": "text", 
          "id":"hook_phrase", 
          "label": "t:sections.video.settings.catch_phrase.label", 
          "default": "My catch phrase - HOOK" 
        }
      ],
  "presets": [
    {
      "name": "Video Section",
      "category": "media"
    }
  ]
} 

{% endschema %}